* {
  background-color: #f9ebd7;
}
.wheels {
  fill: #faebd7;
  stroke: #000;
  stroke-width: 9px;
}
.structure {
  stroke-width: 11px;
}
.main-circle {
  fill: url(#gradient);
}
.light {
  stop-color: #cae8cb;
}
.dark {
  stop-color: #1c501d;
}
